In [3]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [ ]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [ ]:
# connect to database

In [ ]:
# Convert to DF

In [ ]:
# Create our features
#X = df.drop("loan_status", axis=1)
#X = pd.get_dummies(X)

In [ ]:
# Create our target (target = approved column)
#y = df.loc[:, target].copy()

In [ ]:
# X.describe() to test
#X.describe()

In [ ]:
# Check the balance of our target values
#y['loan_status'].value_counts()

In [ ]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
#print(Counter(y_train['loan_status']))
#print(Counter(y_test['loan_status']))

Random Forest Classifier

In [ ]:
#from imblearn.ensemble import BalancedRandomForestClassifier
#rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
#rf_model.fit(X_train, y_train)
#print(Counter(y_train['loan_status']))

In [ ]:
# Calculated the balanced accuracy score
#from sklearn.metrics import confusion_matrix, accuracy_score
#y_pred = rf_model.predict(X_test)
#balanced_accuracy_score(y_test,y_pred)

In [ ]:
# Display the confusion matrix
#cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
#cm_df = pd.DataFrame(
    #cm, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Predicted High_Risk", "Predicted Low_Risk"])

#cm_df

In [ ]:
# Print the imbalanced classification report
#print(classification_report_imbalanced(y_test, y_pred))

In [ ]:
# List the features sorted in descending order by feature importance
#importances = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
#for importance in importances:
    #print(f'{importance[1]}:  {importance[0]*100:.1f}%')

In [5]:
#df = pd.read_csv("clean_dataset.csv")

In [6]:
#df.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1